<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        Creates new Stripes template definition, which can then be reused 
        in many jsp files without need to code the same "surrounding content" 
        again.
        
        
        <!--
        <p>
        Typically, a template contains html skeleton with header, nemu, footer 
        etc. Each usage jsp then just contains the jsp code that is unique for 
        that jsp page.
        </p>
        -->
    </body>
</html>
